@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Home Page";
}
@*<div dir="@localizer["direction"]">*@
<div >
    <h1 class="display-4">@localizer["Welcome"]</h1>
    @ViewData["Message"]
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>@localizer["somting"]</p>
</div>
    @*</div>*@
